@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Parisienne&display=swap');
#app {
	font-family: 'Parisienne', cursive;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin: 0;
}

#app_body {
	margin-top: 80px;
	height: calc(100% - 100px);
	margin-bottom: 20px;
}
.navbar {
	width: 100%;
	height: 100%;
}
.navbar_menu {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}
.section {
	margin-bottom: 20px;
}
.section h3 {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 20px;
}

.wedding_pic {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.about_us {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about_us_container {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
}
.groom {
	width: 45%;
	height: 100%;
	display: flex;
}
.groom .host_pic {
	width: 50%;
	height: 100%;
}
.groom .groom_pic img {
	width: 100%;
}
.groom .groom_info {
	width: 45%;
	height: 100%;
	/* object-fit: contain; */
}
.groom_info .info {
	text-align: left;
}
.bride {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
}
.bride .host_pic {
	width: 50%;
	height: 100%;
}
.bride .bride_info {
	width: 45%;
	height: 100%;
}

.bride .bride_pic img {
	width: 100%;
}

.bride_info .info {
	text-align: right;
}
.host img {
	width: auto;
	object-fit: contain;
	/* border: 1px solid; */
	/* outline: 1px solid rgb(0, 0, 0); */
	/* outline-offset: 10px; */
	border-radius: 10px;
}
.host h2 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	font-weight: 800;
}
.groom_info h2 {
	text-align: left;
}
.bride_info h2 {
	text-align: right;
}
.host h4 {
	font-size: 1rem;
}
.vertical-line {
	width: 10%;
}
.vertical-line img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.host {
	display: flex;
	gap: 10px;
}

@media screen and (max-width: 480px) {
	#app_body {
		height: calc(100% - 60px);
		margin-top: 40px;
	}
	.section {
		margin-bottom: 10px;
	}
	.section h3 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}
	.navbar {
		height: 50%;
	}
	.navbar_menu {
		transform: scale(0.6);
	}

	/deep/.el-carousel__container {
		height: 150px;
	}

	.groom {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.groom .groom_pic {
		width: 80%;
	}

	.bride {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
	}
	.bride .bride_pic {
		width: 80%;
		display: flex;
		/* justify-content: end; */
	}
	.groom .groom_info {
		width: 100%;
	}
	.groom .groom_info h2 {
		text-align: left;
	}
	.bride .bride_info {
		width: 100%;
	}
	.bride .bride_info h2 {
		text-align: right;
	}
	.host h2 {
		font-size: 1rem;
		margin-bottom: 5px;
		font-weight: 800;
	}

	.host h4 {
		font-size: 0.7rem;
	}
}

.top-btn {
	position: fixed;
	bottom: 50px;
	right: 20px;
	font-size: 2rem;
	cursor: pointer;
}
.date {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.date_frame {
	background-image: linear-gradient(to bottom, rgb(255, 215, 158) 60%, white 50%);
	width: 90%;
	height: 100%;
	padding: 2% 10%;
	/* margin: 0 10%; */
	display: flex;
	align-self: center;
	/* justify-content: center; */
	border: 1px solid rgba(200, 200, 200, 0.3);
}
.date_frame .date_countdown {
	width: 60%;
}
.date_frame .date_countdown .wedding_day {
	padding-left: 17px;
	text-align: left;
}
.date_frame .date_countdown .wedding_day p {
	font-size: 1.3rem;
	margin-bottom: 8px;
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Parisienne', cursive;
	font-weight: 600;
}
/deep/ .flip-clock {
	display: flex !important;
}
.date_frame .date_pic {
	width: 40%;
}
.date_pic img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.location {
	width: 100%;
	height: 100%;
	display: grid;
}
.location .location_container {
	width: 100%;
	height: 100%;
	padding: 2% 0;
	display: flex;
	flex-wrap: wrap;
}
.location .location_container .map {
	width: 50%;
	height: 100%;
}
.location .location_container .map iframe {
	width: 100%;
	height: 100%;
}
.location .location_container .more_info {
	width: 40%;
	height: 100%;
}
.location .location_container .more_info h4 {
	text-align: left;
}
.location_info_item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.location_info_item .item_icon {
	width: 20px;
	margin-right: 10px;
}
.location_info_item .item_context {
	margin: 0;
	width: calc(100% - 20px);
	text-align: left;
}

.player {
	position: fixed;
	bottom: 50px;
	left: 20px;
	font-size: 2rem;
	cursor: pointer;
	z-index: 11;
}
.player-bar {
	/* display: none; */
}
.icon {
	cursor: pointer;
}

.modal_body {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: transparent;
}
.modal_body .card_icon {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 12;
	transform: scale(1.5);
}
.modal_body img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/deep/ .modal-body {
	padding: 0;
}
